<div class="d-flex">
    <div class="col-sm-1 col-md-2 col-lg-2 col-xl-3"></div>
    <div class="col-sm-10 col-md-8 col-lg-8 col-xl-6">
        <h1 class="border-primary border-bottom text-primary">Parks Solver</h1>
        <div>
            <div>
                <form class="form-inline mb-2">
                    <label for="boardSizeEl" class="mr-1">Board Size:</label>
                    <input id="boardSizeEl" type="number" class="form-control form-control-sm mr-5" [(ngModel)]="boardSize" (change)="onBoardSizeChange()" min="5" max="11" [ngModelOptions]="{standalone: true}">
                    <label for="presetSelectEl" class="mr-1">Preset Boards:</label>
                    <select id="presetSelectEl" class="mr-3" [(ngModel)]="selectedPreset" [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let name of presetBoardNames" [value]="name">{{ name }}</option>
                    </select>
                    <button class="btn btn-sm btn-outline-primary" (click)="usePreset(selectedPreset)">Load Preset</button>
                </form>
            </div>

            <div class="mb-5 d-flex justify-content-center">
                <svg width="800" height="70" role="img">
                    <g>
                        <ng-container *ngFor="let i of boardSizeIter">
                            <rect (click)="onColourClick(i)" class="c-cursor-pointer" [attr.x]="borderPad + i * (cellSize + paddingSize)" [attr.y]="borderPad" [attr.width]="cellSize" [attr.height]="cellSize" [style]="'fill: ' + colours[i] + '; stroke: ' + (i === selectedColourIndex ? 'black' : 'null') + '; stroke-width: ' + (i === selectedColourIndex ? 5 : 0)"></rect>
                        </ng-container>
                    </g>
                </svg>
            </div>

            <div class="d-flex justify-content-center">
                <svg [attr.width]="800" [attr.height]="boardSize * (cellSize + paddingSize + 1)" role="img" #boardRef>
                    <g>
                        <ng-container *ngFor="let i of boardSizeIter">
                            <ng-container *ngFor="let j of boardSizeIter">
                                <rect class="c-cursor-pointer"
                                      (mouseenter)="onCellMouseEnter(i, j, $event)"
                                      (mousedown)="onCellMouseDown(i, j, $event)"
                                      [attr.x]="borderPad + j * (cellSize + paddingSize)"
                                      [attr.y]="borderPad + i * (cellSize + paddingSize)"
                                      [attr.width]="cellSize"
                                      [attr.height]="cellSize" style="fill: green"></rect>
                            </ng-container>
                        </ng-container>
                    </g>
                </svg>
            </div>
            <div>
                <button class="btn btn-primary" (click)="submitBoard()">Solve Board</button>
                <span *ngIf="statusMessage.show" class="ml-3 c-cursor-pointer" [ngClass]="statusMessage.class" (click)="statusMessage.show = false"><b>×</b> {{ statusMessage.message }}</span>
            </div>
        </div>
    </div>
    <div class="col-sm-1 col-md-2 col-lg-2 col-xl-3"></div>

</div>
